body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}

.content {
    flex: 1;
    padding: 20px;

}

.sidebar {
    width: 200px;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.box-nav {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.box-user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.box-user:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn-logout {
    width: 100%;
    height: 40px;
    border: 0;
    background-color: rgb(235, 68, 68);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: rgb(235, 68, 68, 0.8);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul li {
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

ul li:hover {
    cursor: pointer;
    background-color: #d9b8b8e4;
}

a {
    text-decoration: none;
    color: black;
}

.nav-active {
    background-color: #c39595;
}